/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Barlow", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
/* font-family: "Fraunces", serif; */
/* font-weight: 700 or 900; */
:root{
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan /* (graphic design text) */: hsl(167, 40%, 24%);
--Dark-blue /* (photography text) */: hsl(198, 62%, 26%);
--Dark-moderate-cyan /* (footer) */: hsl(168, 34%, 41%);
--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    max-width: 1440px;
    margin: auto;
    box-shadow: 0 0 20px 1px gray;
}

li {
    list-style: none;
}

li:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    font-weight: 400;
}

/* Header */
header{
    height: 800px;
    background-image: url('./images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: var(--White);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

#icon-burger {
    display: none;
}

.logo,.footer-logo {
    height: 2rem;
}

.logo:hover{
    cursor: pointer;
}

.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.header-links a {
    display: inline-block;
    color: var(--White);
}

.header-links a:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-contact,.mobile-btn-contact {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: .95rem;
    border: none;
    text-transform: uppercase;
    background: var(--White);
    padding: 18px 30px;
    border-radius: 30px;
    color: var(--Very-dark-desaturated-blue);
}

.btn-contact:hover {
    cursor: pointer;
    background: #ffffff4e;
    color: var(--White);
}

.mobile-links-wrapper{
    position: absolute;
    left: 45%;
    transform: translate(-45%);
    clip-path: polygon(0% 10%, 90% 10%, 100% 0%, 100% 100%, 0% 100%);
    height: auto;
    width: 85%;
    margin: 0 auto;
    background: var(--White);
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.mobile-links li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color:var(--Grayish-blue) ;
}

.mobile-btn-contact {
    background: var(--Yellow);
    margin-bottom: 20px;

}
.mobile-btn-contact:hover {
    background: rgba(255, 255, 0, 0.528);
    cursor: pointer;

}

header h1 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 10px;
    margin: 100px 0;
}

/* SECTION */
.transform-part{
    display: flex;

}
.stand-out-part {
    display: flex;
    flex-direction: row-reverse;
}

.transform-text-wrapper,.stand-out-text-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transform-text,.stand-out-text {
    margin: 0 165px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.transform-text h2,.stand-out-text h2 {
    font-family: "Fraunces", serif;
    font-size: 2.7rem;
    color: var(--Very-dark-desaturated-blue);

}

.transform-text p,.stand-out-text p{
    color: var(--Dark-grayish-blue);
}

.transform-text a,.stand-out-text a{
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
}

.transform-text a::before,.stand-out-text a::before{
  content: "";
  position: absolute;
  margin: 12px 0;
  padding-right: 0px;
  width: 130px;

  height: 10px;
  border-radius: 20px;
  z-index: -1;
}
.transform-text a::before{
  background: var(--Yellow);
  
}
.stand-out-text a::before{
  background: var(--Soft-red);
}


.transform-img {
  background-image: url(./images/desktop/image-transform.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 600px;
}

.stand-out-img {
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 600px;
  }


  .section-skills {
    display: flex;
    height: 600px;
  }
  .design-skill {
    
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
  }
  .photo-skill {
    background-image: url(./images/desktop/image-photography.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
  }

  .design-text,.photo-text {
    height: 100%;
    margin: 0 180px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }

  .design-text h2,.photo-text h2 {
    font-family: "Fraunces", serif;
    font-size: 1.8rem;
  
  }

  .design-text h2, .design-text p{
    color:var(--Dark-desaturated-cyan);
  }
  .photo-text h2, .photo-text p {
    color:var(--Dark-blue);
  }
  
  .design-text p,.photo-text p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
  }
 

/* Testimoniales Section */

.testimonials-title {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
    font-family: "Fraunces", serif;
    color: var(--Grayish-blue);
    font-size: 1.3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.testimonials-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 160px;

}

.testimonial-card {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 60px;
    

}

.testimonial-card img{
    height: 75px;
    width: 75px;
    border-radius: 50%;

}

.testimonial-card p{
    line-height: 1.8;
    color: var(--Very-dark-grayish-blue);
    font-weight: 500;

}

.testimonial-card .name {
    color: var(--Very-dark-desaturated-blue);
    font-family: "Fraunces", serif;
    font-weight: 900;
}

.testimonial-card .job {
    color: var(--Grayish-blue);
    font-size: .9rem;
}

/* Gallery */
.gallery {
    display: flex;
}

.gallery img {
    width: 25%;

}

/* footer */

footer {
    background: #8FD4C5 ;
    text-align: center;
    padding:70px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    color: var(--Dark-moderate-cyan );
    gap: 55px;
    margin: 40px 0;
    font-weight: 600;
}
.footer-links li:hover {
    color: var(--White);
}

.social-media {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.social-media img:hover {
    cursor: pointer;
}


@media screen and (max-width:900px) {

    .logo,.footer-logo {
        height: 1.5rem;
    }

    .header-links{
        display: none;
    }

    #icon-burger {
        display: block;
    }

    #icon-burger:hover {
        cursor: pointer;
    }

    header {
        height: 540px;
        background-image: url('./images/mobile/image-header.jpg');
    }

    header h1 {
        font-family: "Fraunces", serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 2.2rem;
        letter-spacing: 10px;
        margin: 50px 0;
    }   

    .transform-part{
        flex-direction: column-reverse;
    }

    .stand-out-part {
        flex-direction: column-reverse;
    }

    .transform-text-wrapper,.stand-out-text-wrapper {
        width: 100%;
    }

    .transform-text,.stand-out-text {
        text-align: center;
        margin: 60px 25px;
        font-weight: 500;
        line-height: 1.5;
        gap: 25px;
    }

    .transform-text h2,.stand-out-text h2 {
        font-size: 2rem;
    }

    .transform-img {
        background-image: url(./images/mobile/image-transform.jpg);
        width: 100%;
        height: 300px;
      }

    .stand-out-img {
        background-image: url(./images/mobile/image-stand-out.jpg);
        width: 100%;
        height: 300px;
    }

    .transform-text a,.stand-out-text a{
        font-size: 0.9rem;
    }

    .transform-text a::before,.stand-out-text a::before{
        width: 110px;
    }

    .section-skills {
        flex-direction: column;
        height: inherit;
    }

    .design-skill {
        background-image: url(./images/desktop/image-graphic-design.jpg);
        width: 100%;
        height: 600px;
    }

    .photo-skill {
        background-image: url(./images/desktop/image-photography.jpg);
        width: 100%;
        height: 600px;
    }
      
    .design-text,.photo-text {
        margin: 0 20px;
    }

     /* testimoniales part  */

     .testimonials-title {
        padding-top: 60px;
        font-size: 1rem;
        letter-spacing: 4px;
    }

    .testimonials-cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 100px;
    }
    
    .testimonial-card {
        width: 80%;
        gap: 40px;
    }

    /* gallery part  */
    .gallery {
        flex-wrap: wrap;
    }

    .gallery img {
        width: 50%;
    }
    .footer-links {
    
        gap: 40px;

    }
    .social-media {
        margin-top: 60px;
    }

}